[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikeras = "*"
statsmodels = "*"
pandas = "*"
matplotlib = "*"
tensorflow = { markers = "sys_platform == 'linux' or sys_platform == 'win32'"}
tensorflow-macos = { markers = "sys_platform == 'darwin'"}
mplfinance = "*"
plotly = "*"
ipykernel = "*"
seaborn = "*"
nbformat = "*"
darts = "*"
optuna = "*"
tvdatafeed = {git = "https://github.com/rongardF/tvdatafeed.git"}

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.8"
